".text.html.php, .text.html":
    "Angular Boilerplate":
        "prefix": "angindex"
        "body": """
            <!doctype html>
            <html lang="en" ng-app="app">
            <head>
                <meta charset="utf-8" />

                <title>${1:Title}</title>
                <meta name="description" content="${2: Description}" />
                <meta name="viewport" content="width=device-width, initial-scale=1">

                <script src="//ajax.googleapis.com/ajax/libs/angularjs/${1:1.3.15}/angular.js"></script>

                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            <body>

                <div class="container" ng-view=""></div>


        """
